<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Schedule Panel</h3>
    </div>
    <div ng-switch="numberOfStations == -1" class="panel-body">

        <div ng-switch-when="true">Error: Unable to contact web api</div>
        <div ng-switch-when="false">
            <table id="scheduleTable" class="table table-bordered">
                <!-- Rows are dynamically generated in the controller and compiled by Angular -->
            </table>
        </div>

    </div>
</div> <!-- /ScheduleController div -->
