<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Schedule Panel</h3>
    </div>
    <div ng-switch="numberOfStations == -1" class="panel-body">

        <div ng-switch-when="true">Error: Unable to contact web api</div>
        <div ng-switch-when="false">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <!-- Print the header array in the ScheduleController scope -->
                    <th ng-repeat="col in header">{{ col }}</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@TwBootstrap</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div> <!-- /ScheduleController div -->
