<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Schedule Panel</h3>
    </div>
    <div ng-switch="numberOfStations == -1" class="panel-body">

        <div ng-switch-when="true">Error: Unable to contact web api</div>
        <div ng-switch-when="false">
            <table id="scheduleTable" class="table table-bordered">
                <thead>
                <!-- Print the header array in the ScheduleController scope -->
                <tr><th ng-repeat="column in tableHeader">{{ column }}</th></tr>
                </thead>
                <tbody>
                <!-- Inject the contents of cellInject and make sure they are bounded-->
                </tbody>
            </table>
        </div>

    </div>
</div> <!-- /ScheduleController div -->
