body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

#usageGraphSelection {
    text-align: center;
    margin: 10px 13px 0px 7px
}

#showUsageGraphBtn {
    margin: 10px;
}

#adminStatusContainer .input-group {
    margin-bottom: 10px;
}

.schedule-cell .form-group {
    margin-bottom: 0px;
}

.schedule-cell input,
.schedule-cell label {
    margin: 0px;
    font-weight: normal;
    width: 70px;
}

.schedule-cell input {
    border: 1px solid #ccc;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

#wateringTimeInputContainer {
    display: none;
}
