body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.schedule-cell .form-group {
    margin-bottom: 0px;
}

.schedule-cell input,
.schedule-cell label {
    margin: 0px;
    font-weight: normal;
    width: 75px;
}

.select2-container {
    display: inline;
}

#usageGraphSelection {
    text-align: center;
    margin: 10px 13px 0px 7px
}

#showUsageGraphBtn {
    margin: 10px;
}

#adminStatusContainer .input-group {
    margin-bottom: 10px;
}