<!DOCTYPE html>
<html lang="en" ng-app="iSprinkleApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>iSprinkle</title>

    <!-- Jquery -->
    <script src="static/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- Datepicker -->
    <script type="text/javascript" src="static/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <link href="static/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css" rel="stylesheet">

    <!-- Timepicker -->
    <script type="text/javascript" src="static/libs/bootstrap-timepicker/bootstrap-timepicker.js"></script>
    <link href="static/libs/bootstrap-timepicker/timepicker.css" rel="stylesheet">

    <!-- Angular -->
    <script type="text/javascript" src="static/libs/angularjs/1.5.7/angular.min.js"></script>
    <script type="text/javascript" src="static/libs/angularjs/1.5.7/angular-route.js"></script>
    <script type="text/javascript" src="static/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="static/scripts/app.js"></script>
    <script type="text/javascript" src="static/scripts/services.js"></script>
    <script type="text/javascript" src="static/scripts/controllers.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="static/libs/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Optional theme -->
    <link rel="stylesheet" href="static/libs/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="static/libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- d3: NVD3 is recommended to go with d3.js version 3.5.3 and later, but NOT d3 4.x yet. -->
    <script type="text/javascript" src="static/libs/d3/3.5.17/d3.js"></script>

    <!-- nvd3 -->
    <script type="text/javascript" src="static/libs/nvd3/1.8.4/nv.d3.js"></script>
    <link href="static/libs/nvd3/1.8.4/nv.d3.min.css" rel="stylesheet">

    <!-- angular-nvd3 -->
    <script type="text/javascript" src="static/libs/angular-nvd3/1.0.9/angular-nvd3.min.js"></script>

    <!-- bootstrap-select -->
    <link href="static/libs/bootstrap-select/1.11.2/css/bootstrap-select.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="static/libs/bootstrap-select/1.11.2/js/bootstrap-select.min.js"></script>

    <!-- moment.js -->
    <script type="text/javascript" src="static/libs/moment/2.15.1/moment-locales.js"></script>

    <!-- Custom style -->
    <link href="static/custom.css" rel="stylesheet">

</head>

<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home">iSprinkle</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#home">Home</a></li>
                    <li><a href="#schedule">Schedule</a></li>
                    <li><a href="#manual">Manual</a></li>
                    <li><a href="#admin">Administration</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>

    <!-- Dynamic ng-view based on route -->
    <div ng-view></div>

</div>
</body>
</html>
